<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" media="screen"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src='js/jquery-1.12.1.min.js'></script>
    <script src="js/slide.js"></script>
    <title>维金云支付</title>
</head>

<body>
<div class="header">
    <div id="top">
        <div class="logo"><a href="index"><img src="image/logo.png"></a></div>
        <div class="nav">
            <ul>
                <li class="mainlevel" id="mainlevel_01"><a href="javascript:void(0);">产品</a>
                    <ul id="sub_01">
                        <li><a href="/saas-web/website">维金云支付</a></li>
                        <li><a href="https://www.vfnetwork.cn/saas-ucenter">维金云账户</a></li>
                    </ul>
                </li>
                <li class="mainlevel" id="mainlevel_02"><a href="javascript:void(0);">解决方案</a>
                    <ul id="sub_02">
                        <li><a href="#">网站付款</a></li>
                        <li><a href="#">手机付款</a></li>
                        <li><a href="#">会员账户</a></li>
                        <li><a href="#">金融服务</a></li>
                    </ul>
                </li>
                <li class="mainlevel" id="mainlevel_03"><a href="javascript:void(0);">报价</a></li>
                <li class="mainlevel" id="mainlevel_04"><a href="javascript:void(0);">开发者中心</a>
                    <ul id="sub_04">
                        <li><a href="/saas-web/website/apitool">API</a></li>
                        <li><a href="/saas-web/all_san_pay">文档库</a></li>
                        <li><a href="/saas-web/website/download">下载</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="divUser" class="login1" style="display: none;">
            <a id="aUser" href="/saas-web"></a>
            <a id="logout" href="javascript:void(0);">退出</a>
        </div>
        <div id="divLogin" class="login" style="display: none;">
            <span class="button">
                <a href="/saas-web/logon_index">登录</a>
            </span>
            <a href="/saas-web/register_index">注册</a>
        </div>
    </div>
</div>

<div class="Download">
    <div class="title">所有下载</div>
    <div class="top">
        <img src="image/icon_ios.png">
        <a>&nbsp;</a>
        <a href="https://github.com/vfinance/ios-demo" target="_blank">Demo 源码下载 >></a>
        <a>&nbsp;</a>
    </div>

    <div class="bottom">
        <img src="image/icon_anz.png">
        <a href="https://github.com/vfinance/android-demo/raw/master/release/vfinance-sdk-1.0.jar">SDK 下载 >></a>
        <a href="https://github.com/vfinance/android-demo/raw/master/release/demo.apk">Demo下载 >></a>
        <a href="https://github.com/vfinance/android-demo" target="_blank">Demo 源码下载 >></a>
    </div>
</div>

<div id="footer"></div>
<script src="js/common.js"></script>

</body>
</html>
