<div class="logo"><a href="index"><img src="image/logo.png"></a></div>
<nav>
    <ul>
        <li class="mainlevel" id="mainlevel_01"><a href="#">产品</a>
            <ul id="sub_01">
                <li><a href="/saas-web/website">维金云支付</a></li>
                <li><a href="https://www.vfnetwork.cn/saas-ucenter">维金云钱包</a></li>
            </ul>
        </li>
        <li class="mainlevel" id="mainlevel_02"><a href="#">解决方案</a>
            <ul id="sub_02">
                <li><a href="#">网站付款</a></li>
                <li><a href="#">手机付款</a></li>
                <li><a href="#">会员账户</a></li>
                <li><a href="#">金融服务</a></li>
            </ul>
        </li>
        <li class="mainlevel" id="mainlevel_03"><a href="#">报价</a></li>
        <li class="mainlevel" id="mainlevel_04"><a class="active" href="#">开发者中心</a>
            <ul id="sub_04">
                <li><a href="apitool">API</a></li>
                <li><a href="/saas-web/all_san_pay">文档库</a></li>
                <li><a href="#">下载</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="divUser" class="login1" style="display: none;">
    <a id="aUser" href="/saas-web"></a>
    <a id="logout" href="javascript:void(0);">退出</a>
</div>
<div id="divLogin" class="login" style="display: none;">
    <span class="button">
        <a href="/saas-web/logon_index">登录</a>
    </span>
    <a href="/saas-web/register_index">注册</a>
</div>