<div class="content">
    <!-- Custom Tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">基本信息设置</a></li>
        <li><a href="#tab_2" data-toggle="tab">密码修改</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">注册邮箱</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="name" placeholder="我的邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tel" class="col-sm-2 control-label">联系电话</label>

                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="tel" placeholder="我的联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qq" class="col-sm-2 control-label">联系人QQ</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="qq" placeholder="我的QQ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="website" class="col-sm-2 control-label">企业网址</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="website"
                                       placeholder="我的企业网址">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="text-center">
                            <label>账户基本信息不可修改，如有变更，请联系客服人员。</label>
                            <p>邮箱：saas_info@netfinworks.com, 电话：400-101-9595</p>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="origin" class="col-sm-2 control-label">输入原密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="origin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new" class="col-sm-2 control-label">输入新密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="new">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="more" class="col-sm-2 control-label">重复新密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="more">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">确认</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- /.tab-content -->
    <!-- nav-tabs-custom -->
</div>